@model sama.Models.SettingsViewModel

@{
    ViewData["Title"] = "Settings";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="global-flash-alert alert alert-danger">Your changes could not be saved. Please correct any error(s) below.</div>
        </div>
    </div>
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Index">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3>Endpoint monitoring</h3>
            <div class="form-group">
                <label asp-for="MonitorIntervalSeconds" class="control-label"></label>
                <input asp-for="MonitorIntervalSeconds" class="form-control" />
                <span asp-validation-for="MonitorIntervalSeconds" class="text-danger"></span>
                <p class="text-left">Changing this value will execute endpoint checks immediately.</p>
            </div>
            <div class="form-group">
                <label asp-for="MonitorMaxRetries" class="control-label"></label>
                <input asp-for="MonitorMaxRetries" class="form-control" />
                <span asp-validation-for="MonitorMaxRetries" class="text-danger"></span>
                <p class="text-left">Specifying a number greater than 0 will enable retry logic.</p>
            </div>
            <div class="form-group">
                <label asp-for="MonitorSecondsBetweenTries" class="control-label"></label>
                <input asp-for="MonitorSecondsBetweenTries" class="form-control" />
                <span asp-validation-for="MonitorSecondsBetweenTries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonitorRequestTimeoutSeconds" class="control-label"></label>
                <input asp-for="MonitorRequestTimeoutSeconds" class="form-control" />
                <span asp-validation-for="MonitorRequestTimeoutSeconds" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>Notifications</h3>

            <h4>Slack</h4>
            <div class="form-group">
                <label asp-for="SlackWebHook" class="control-label"></label>
                <input asp-for="SlackWebHook" class="form-control" />
                <span asp-validation-for="SlackWebHook" class="text-danger"></span>
                <p class="text-left">To enable Slack notifications, paste the <a href="https://api.slack.com/legacy/custom-integrations/messaging/webhooks">Webhook URL</a> into this field.</p>
            </div>

            <h4>Graphite</h4>
            <p class="text-left">The Graphite protocol is used to send statistics to time series databases like Graphite, InfluxDB, and KairosDB.</p>
            <div class="form-group">
                <label asp-for="GraphiteHost" class="control-label"></label>
                <input asp-for="GraphiteHost" class="form-control" />
                <span asp-validation-for="GraphiteHost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraphitePort" class="control-label"></label>
                <input asp-for="GraphitePort" class="form-control" />
                <span asp-validation-for="GraphitePort" class="text-danger"></span>
                <p class="text-left">2003 is a commonly used port.</p>
            </div>

            <h4>SQL Server</h4>
            <p class="text-left">Up and down events can be logged to SQL Server. The configured table will be created if it doesn't exist, assuming permissions allow.</p>
            <div class="text-left">
                <a class="btn btn-xs btn-info" role="button" data-toggle="collapse" href="#sqlServerCodeBlock"><span class="glyphicon glyphicon-console"></span> Show/hide example <code>CREATE</code> script</a>
                <div class="collapse" id="sqlServerCodeBlock">
                    <div class="well well-sm collapsible-code-block"><code>@(string.Format(Model.SqlServerCreateTableScript!, "dbo.SamaEvents"))</code></div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SqlServerConnection" class="control-label"></label>
                <input asp-for="SqlServerConnection" class="form-control" />
                <span asp-validation-for="SqlServerConnection" class="text-danger"></span>
                <p class="text-left">See <a href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlconnection.connectionstring?view=sqlclient-dotnet-core-2.1#remarks">documentation</a> for details</p>
            </div>
            <div class="form-group">
                <label asp-for="SqlServerTable" class="control-label"></label>
                <input asp-for="SqlServerTable" class="form-control" />
                <span asp-validation-for="SqlServerTable" class="text-danger"></span>
                <p class="text-left">Example: <code>dbo.SamaEvents</code></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>LDAP</h3>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LdapEnable" /> @Html.DisplayNameFor(model => model.LdapEnable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LdapSsl" /> @Html.DisplayNameFor(model => model.LdapSsl)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LdapSslIgnoreValidity" /> @Html.DisplayNameFor(model => model.LdapSslIgnoreValidity)
                    </label>
                    <p class="text-left">WARNING: This is a dangerous option to enable, as it significantly reduces security.</p>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LdapHost" class="control-label"></label>
                <input asp-for="LdapHost" class="form-control" />
                <span asp-validation-for="LdapHost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LdapPort" class="control-label"></label>
                <input asp-for="LdapPort" class="form-control" />
                <span asp-validation-for="LdapPort" class="text-danger"></span>
                <p class="text-left">Well known ports are 389 for unencrypted traffic and 636 for SSL traffic.</p>
            </div>
            <div class="form-group">
                <label asp-for="LdapBindDnFormat" class="control-label"></label>
                <input asp-for="LdapBindDnFormat" class="form-control" />
                <span asp-validation-for="LdapBindDnFormat" class="text-danger"></span>
                <p class="text-left">Example: <code>DOMAIN\{0}</code></p>
            </div>
            <div class="form-group">
                <label asp-for="LdapSearchBaseDn" class="control-label"></label>
                <input asp-for="LdapSearchBaseDn" class="form-control" />
                <span asp-validation-for="LdapSearchBaseDn" class="text-danger"></span>
                <p class="text-left">Example: <code>DC=ldap,DC=example,DC=com</code></p>
            </div>
            <div class="form-group">
                <label asp-for="LdapSearchFilterFormat" class="control-label"></label>
                <input asp-for="LdapSearchFilterFormat" class="form-control" />
                <span asp-validation-for="LdapSearchFilterFormat" class="text-danger"></span>
                <p class="text-left">Example 1: <code>(&(sAMAccountType=805306368)(memberOf=CN=PermittedMembers,OU=MainOrg,DC=ldap,DC=example,DC=com)(sAMAccountName={0}))</code></p>
                <p class="text-left">Example 2: <code>(sAMAccountName={0})</code></p>
            </div>
            <div class="form-group">
                <label asp-for="LdapNameAttribute" class="control-label"></label>
                <input asp-for="LdapNameAttribute" class="form-control" />
                <span asp-validation-for="LdapNameAttribute" class="text-danger"></span>
                <p class="text-left"><code>displayName</code> may be used for Active Directory</p>
            </div>
            <div class="form-group">
                <label asp-for="LdapSslValidCert" class="control-label"></label>
                <textarea asp-for="LdapSslValidCert" rows="5" class="form-control"></textarea>
                <span asp-validation-for="LdapSslValidCert" class="text-danger"></span>
                <p class="text-left">Optional PEM-encoded certificate that will be matched anywhere in a valid certificate chain (use this to pin a certificate)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="form-group col-xs-12">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
