@model IEnumerable<sama.Models.EndpointViewModel>

@{
    var states = (IReadOnlyDictionary<sama.Models.Endpoint, sama.Models.EndpointStatus>)ViewData["CurrentStates"];
    var upEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == true).OrderBy(e => e.Name.ToLowerInvariant());
    var downEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == false).OrderBy(e => e.Name.ToLowerInvariant());
    var indeterminateEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == null).OrderBy(e => e.Name.ToLowerInvariant());
}

<h2>Overview (@downEndpoints.Count() down)</h2>
<hr />
<div class="row overview-blocks">
    @foreach (var item in downEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-down">
            <div class="endpoint-child">
                <span>
                    @item.Name
                    <br />
                    <i>@states.FirstOrDefault(s => s.Key.Id == item.Id).Value?.Error?.Message</i>
                </span>
            </div>
        </div>
    }
    @foreach (var item in upEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-up">
            <div class="endpoint-child">
                <span>@item.Name</span>
            </div>
        </div>
    }
    @foreach (var item in indeterminateEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-indeterminate">
            <div class="endpoint-child">
                <span>
                    @item.Name
                    @if (!item.Enabled)
                    {
                        <br /><i>(Disabled)</i>
                    }
                </span>
            </div>
        </div>
    }
</div>
<p class="refreshed-on">
    Last updated on <span id="last-refresh-time"></span>
</p>
<script type="text/javascript">
    document.getElementById('last-refresh-time').textContent = (new Date().toLocaleString());
</script>
