@model sama.Models.EndpointViewModel

@{
    ViewData["Title"] = "Details";
    var state = (sama.Models.EndpointStatus)ViewData["State"] ?? new sama.Models.EndpointStatus();
}

<h2>Details</h2>

<div>
    <h4>@Model.KindString Endpoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.Kind == sama.Models.Endpoint.EndpointKind.Http)
        {
            await Html.RenderPartialAsync("_DetailsHttpPartial");
        }
        else if (Model.Kind == sama.Models.Endpoint.EndpointKind.Icmp)
        {
            await Html.RenderPartialAsync("_DetailsIcmpPartial");
        }
        else
        {
            throw new NotImplementedException();
        }
        <dt>
            Last State
        </dt>
        <dd>
            @{ 
                if (state.IsUp == null)
                {
                    <div>N/A</div>
                }
                else if (state.IsUp == true)
                {
                    <div>Up as of @state.LastUpdated.ToLocalTime().ToString("g")</div>
                }
                else
                {
                    <div>Down as of @state.LastUpdated.ToLocalTime().ToString("g")</div>
                    <div>Reason: @(state?.Error?.Message ?? "Unknown")</div>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-xs">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
