@model sama.Models.Endpoint

@{
    ViewData["Title"] = "Details";
    var state = (sama.Services.StateService.EndpointState)ViewData["State"] ?? new sama.Services.StateService.EndpointState();
}

<h2>Details</h2>

<div>
    <h4>Endpoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseMatch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponseMatch)
        </dd>
        <dt>
            Last State
        </dt>
        <dd>
            @{ 
                if (state.IsUp == null)
                {
                    <div>N/A</div>
                }
                else if (state.IsUp == true)
                {
                    <div>Up as of @state.LastUpdated.ToLocalTime().ToString("g")</div>
                }
                else
                {
                    <div>Down as of @state.LastUpdated.ToLocalTime().ToString("g")</div>
                    <div>Reason: @(state.Exception?.Message ?? "Unknown")</div>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-xs">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
