@model IEnumerable<sama.Models.EndpointViewModel>

@{
    ViewData["Title"] = "Overview";
    var states = (IReadOnlyDictionary<sama.Models.Endpoint, sama.Services.StateService.EndpointState>)ViewData["CurrentStates"];
    var upEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == true).OrderBy(e => e.Name.ToLowerInvariant());
    var downEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == false).OrderBy(e => e.Name.ToLowerInvariant());
    var indeterminateEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == null).OrderBy(e => e.Name.ToLowerInvariant());
}

<style type="text/css">
    .overview-blocks .endpoint-state {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .overview-blocks .endpoint-state .endpoint-child {
        align-items: center;
        border-radius: 8px;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 2em;
        min-height: 6em;
        padding: 6px;
        text-align: center;
    }

    .overview-blocks .endpoint-state .endpoint-child > span {
        max-width: 100%;
    }

    .endpoint-child span a {
        color: #fff;
    }

    .endpoint-child span i {
        font-weight: normal;
    }

    .endpoint-down .endpoint-child {
        background-color: #d9534f;
    }

    .endpoint-up .endpoint-child {
        background-color: #5cb85c;
    }

    .endpoint-indeterminate .endpoint-child {
        background-color: #777;
    }

    .refreshed-on {
        text-align: right;
    }
</style>

<h2>@ViewData["Title"] (@downEndpoints.Count() down)</h2>
<hr />
<div class="row overview-blocks">
    @foreach(var item in downEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-down">
            <div class="endpoint-child">
                <span>
                    @item.Name
                    <br />
                    <i>@states.FirstOrDefault(s => s.Key.Id == item.Id).Value?.Exception?.Message</i>
                </span>
            </div>
        </div>
    }
    @foreach (var item in upEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-up">
            <div class="endpoint-child">
                <span>@item.Name</span>
            </div>
        </div>
    }
    @foreach (var item in indeterminateEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-indeterminate">
            <div class="endpoint-child">
                <span>
                    @item.Name
                    @if (!item.Enabled)
                    {
                        <br /><i>(Disabled)</i>
                    }
                </span>
            </div>
        </div>
    }
</div>
<p class="refreshed-on">
    Last updated on <script type="text/javascript">document.write(new Date().toLocaleString());</script>
</p>

@section Scripts {
<script type="text/javascript">
    $(function () {
        setTimeout('document.location.reload();', 60000);
    });
</script>
}
